<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <!-- <a href="/auth/facebook">Sign in with Facebook</a> -->
  <a href="/email-login">Sign in with Email</a>
  <p>Don't have an account yet?</p>
  <a href="/register">Register Now</a>
</body>
</html>
